**Are there any data quality issues present?**

Yes, there are several data quality issues in the datasets:

In users_df:

The BIRTH_DATE column has 3,675 missing values.
The STATE column has 4,812 missing values.
The LANGUAGE column has 30,508 missing values.
The GENDER column has 5,893 missing values.

In transactions_df:

The BARCODE column has 5,762 missing values.

In products_df:

The CATEGORY_1 column has 111 missing values.
The CATEGORY_2 column has 1,424 missing values.
The CATEGORY_3 column has 60,566 missing values.
The CATEGORY_4 column has 778,093 missing values.
The MANUFACTURER column has 226,474 missing values.
The BRAND column has 226,472 missing values.
The BARCODE column has 4,025 missing values.

In [1]:
# # Supporting code :
# print(users_df.isnull().sum())
# print("\n========================")
# print(transactions_df.isnull().sum())
# print("\n========================")
# print(products_df.isnull().sum())



# # Heatmap for missing values
# plt.figure(figsize=(12, 6))
# sns.heatmap(users_df.isnull(), cbar=False, cmap='viridis', yticklabels=False)
# plt.title('Heatmap of Missing Values in Users Dataset')
# plt.show()


# # Heatmap for missing values
# plt.figure(figsize=(12, 6))
# sns.heatmap(products_df.isnull(), cbar=False, cmap='viridis', yticklabels=False)
# plt.title('Heatmap of Missing Values in Products Dataset')
# plt.show()

# Heatmap for missing values
# plt.figure(figsize=(12, 6))
# sns.heatmap(transactions_df.isnull(), cbar=False, cmap='viridis', yticklabels=False)
# plt.title('Heatmap of Missing Values in Transactions Dataset')
# plt.show()

There were 171 duplicate records in the transactions_df and 215 duplicate records in the products_df.

In [2]:
# print(users_df.duplicated().sum())
# print("\n========================")
# print(transactions_df.duplicated().sum())
# print("\n========================")
# print(products_df.duplicated().sum())

The date columns were initially in object data type, so I converted them to the datetime data type.

In [3]:
# users_df['CREATED_DATE'] = pd.to_datetime(users_df['CREATED_DATE'],errors='coerce')
# users_df['BIRTH_DATE'] = pd.to_datetime(users_df['BIRTH_DATE'],errors='coerce')
# transactions_df['PURCHASE_DATE'] = pd.to_datetime(transactions_df['PURCHASE_DATE'],errors='coerce')
# transactions_df['SCAN_DATE'] = pd.to_datetime(transactions_df['SCAN_DATE'],errors='coerce')

The FINAL_SALE column in the transactions_df contained 12,500 blank string values, and its data type was incorrect and needs to be corrected.

In [ ]:
# transactions_df['FINAL_SALE'] = (
#     transactions_df['FINAL_SALE']
#     .astype(str)
#     .str.replace(" ", "", regex=False)
#     .replace("", None)
#     .astype(float)
# )

The FINAL_QUANTITY column in the transactions_df contains a zero value that should be converted to a numeric zero (0). Additionally, the data type should be updated to float.

In [4]:
# transactions_df['FINAL_QUANTITY'] = (
#     transactions_df['FINAL_QUANTITY']
#     .astype(str)
#     .str.strip()
#     .replace("zero", "0")
#     .replace("", None)
#     .astype(float)
# )

The missing values in the columns should be addressed if we intend to use the data for generating insights.

**Are there any fields that are challenging to understand?**

Yes, in the products_df, there are columns named CATEGORY_1, CATEGORY_2, CATEGORY_3, and CATEGORY_4, which are unclear and should be renamed for better clarity.

**Second: provide SQL queries**

In [2]:
# # What are the top 5 brands by receipts scanned among users 21 and over?
# SELECT
#     p.BRAND,
#     COUNT(t.RECEIPT_ID) AS receipts_count
# FROM
#     transactions t
# JOIN
#     users u ON t.USER_ID = u.ID
# JOIN
#     products p ON t.BARCODE = p.BARCODE
# WHERE
#     u.BIRTH_DATE IS NOT NULL
#     AND (YEAR(CURDATE()) - YEAR(u.BIRTH_DATE)) >= 21
# GROUP BY
#     p.BRAND
# ORDER BY
#     receipts_count DESC
# LIMIT 5;

In [3]:
# # What are the top 5 brands by sales among users that have had their account for at least six months?
# SELECT
#     p.BRAND,
#     SUM(CAST(t.FINAL_SALE AS DECIMAL(10, 2))) AS total_sales
# FROM
#     transactions t
# JOIN
#     users u ON t.USER_ID = u.ID
# JOIN
#     products p ON t.BARCODE = p.BARCODE
# WHERE
#     u.CREATED_DATE <= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
# GROUP BY
#     p.BRAND
# ORDER BY
#     total_sales DESC
# LIMIT 5;

In [4]:
# # 1. Who are Fetchâ€™s power users?
# # Assumption: Power users are those with the highest transaction count and total spending.
# SELECT
#     u.ID AS user_id,
#     COUNT(t.RECEIPT_ID) AS transaction_count,
#     SUM(CAST(t.FINAL_SALE AS DECIMAL(10, 2))) AS total_spent
# FROM
#     transactions t
# JOIN
#     users u ON t.USER_ID = u.ID
# GROUP BY
#     u.ID
# ORDER BY
#     transaction_count DESC, total_spent DESC
# LIMIT 10;